[[redirects]]
  from = "/success"
  to = "/success.html"
  status = 200

[[redirects]]
  from = "/terms"
  to = "/terms/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
